.schedule {
    border: 3px solid #2190E0 ;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;

}

.schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.weekday-container {
    border: 2px solid #2190E0 ;
    
}

.weekday-heading {
    border-bottom: 3px solid #2190E0 ;
    background-color: #219ce0;

    >h3 {
        margin: 0;
        padding: 5px;
    }
}

.schedule-entry {
    border-top: 1px solid #2190E0;
    border-bottom: 1px solid #2190E0;
    background-color: aliceblue;
}

.hidden {
    display: none;
}