.schedule {
    border: 3px solid black;

}

.schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.weekday-container {
    border: 2px solid black;
    background-color: aqua;
}

.weekday-heading {
    background-color: blue;
    border-bottom: 3px solid black;;
}

.schedule-entry {
    border: 1px solid purple;
    color: blue
}

.hidden {
    display: none;
}